{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}

    <link rel="stylesheet" href="{% static 'css/dersi_alanlar.css' %}">
    <div class="container">
        <div class="row">

{#            <div class="col-md-6 offset-md-3">#}
                <Form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Öğrenci</th>
                            <th>Geldi Mi?</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for  ogrencis in dersogrenci %}
                            <tr>
                                <td><a href="">{{ forloop.counter }}</a></td>

                                <td><a>{{ ogrencis.ogrenci.ad_soyad }}</a></td>
                                <td>

                                    <input type="checkbox" name={{ ogrencis.ogrenci.ad_soyad }}
                                            value={{ ogrencis.Id_dersogrenci }}>
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    <input class="btn btn-outline-primary" type="submit" value="Gönder">

                </Form>
{#            </div>#}
        </div>

    </div>



{% endblock %}
