{% extends 'base.html' %}

{% block body %}
    <div class="container col-md-8" style="text-align: center">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>

                <th scope="col" width="30%">Ders</th>
                <th scope="col" width="30%">Öğretmen</th>
                <th scope="col" width="10%">Yıl</th>

            </tr>
            </thead>
            <tbody>
            {% for  ders in dersler %}
                <tr>

                    <td><a href="{{ ders.get_update_url }}">{{ ders.ders_adi }} </a></td>
                    <td>{{ ders.ogretmen }} </td>
                    <td>{{ ders.ders_yili }} </td>


                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
