{% extends 'base.html' %}

{% block body %}
    <div class="container">

        <table class="table table-sm table-bordered table-dark">
            <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Ders</th>
                <th>Öğretmen</th>
                <th>Ders Yılı</th>

            </tr>
            </thead>
            <tbody>
            {% for  ders in dersler %}
                <tr>
                    <td><a href="{{ ders.get_update_url }}">{{ forloop.counter }}</a></td>
                    <td>{{ ders.Id_ders }}   </td>
                    <td>{{ ders.ders_adi }}  </td>
                    <td>{{ ders.ogretmen }} </td>
                    <td>{{ ders.ders_yili }} </td>


                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
