.table {
    text-align: center;
}


.btn {
    margin-top: 10%;
    margin-left: 30%;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: #c82333;

    }

    .container {
        margin-left: 35%;
    }

       .row {
        margin-top: 10%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        background-color: transparent;

    }

    .container {
        margin-left: 40%;

    }



}