<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

        <div class="navbar-collapse w-100">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand" href="{% url 'user:home' %}">Anasayfa</a>
                {% if request.user.is_authenticated and request.user.is_admin %}
                    <li class="nav-item dropdown active">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Öğrenci
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href=" {% url 'ogrenci:ogrencilistele' %}">Listele</a>
                            <a class="dropdown-item" href="   {% url 'ogrenci:ogrenciekle' %}">Tek Kayıt</a>
                            <a class="dropdown-item" href=" {% url 'ogrenci:excel_Ekle' %}">Excelden İçe Aktar</a>

                        </div>


                    </li>

                    <li class="nav-item dropdown active">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Dersler
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href="{% url 'dersler:listele' %}">Listele</a>
                            <a class="dropdown-item" href="{% url 'dersler:ekle' %}">Ekle</a>

                        </div>

                    </li>
                    <li class="nav-item dropdown active">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Öğrenci Dersleri
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href="{% url 'dersogrenci:ekle' %}">Öğrencilere Ders Ekle</a>
                            <a class="dropdown-item" href="{% url 'dersogrenci:excel_Ekle' %}">Excel</a>
                        </div>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user:ogretmenEkle' %}">Öğretmen Ekle</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_ogretmen_mi %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'dersogrenci:siniflar' %}">Sınıflarım</a>
                    </li>
                {% endif %}
            </ul>

        </div>

        {#        Orta  #}
        <div class="mx-auto order-0">
            {% if request.user.is_authenticated and request.user.is_admin %}
                <a class="navbar-brand mx-auto" href="{% url 'admin:login' %}">Admin</a>
            {% endif %}
        </div>


        {#        Sağ   #}
        <div class="navbar-collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user:login' %}">Giriş</a>
                    </li>
                {% else %}
                    <lu class="nav-item active">
                        <a class="nav-link" href="{% url 'user:logout' %}">Çıkış</a>
                    </lu>

                {% endif %}
            </ul>
        </div>

    </div>

</nav>