{% load static %}
<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="{% url 'user:home' %}">Anasayfa</a>

                {% if request.user.is_authenticated and request.user.is_admin %}

                    <li class="nav-item dropdown active">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            Öğrenci
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href=" {% url 'ogrenci:ogrencilistele' %}">Listele</a>
                            <a class="dropdown-item" href="   {% url 'ogrenci:ogrenciekle' %}">Tek Kayıt</a>
                            <a class="dropdown-item" href=" {% url 'ogrenci:excel_Ekle' %}">Excelden İçe Aktar</a>
                            <a class="dropdown-item" href=" {% url 'ogrenci:excel_disa_aktar' %}">Excele Aktar</a>

                        </div>


                    </li>

                    <li class="nav-item dropdown active ">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Dersler
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href="{% url 'dersler:listele' %}">Listele</a>
                            <a class="dropdown-item" href="{% url 'dersler:ekle' %}">Ekle</a>

                        </div>

                    </li>
                    <li class="nav-item dropdown active align-items-center">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Öğrenci Dersleri
                        </a>

                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href="{% url 'dersogrenci:ekle' %}">Öğrencilere Ders Ekle</a>
                            <a class="dropdown-item" href="{% url 'dersogrenci:excel_Ekle' %}">Excel</a>
                        </div>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user:ogretmenEkle' %}">Öğretmen Ekle</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_ogretmen_mi %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'dersogrenci:siniflar' %}">Sınıflarım</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-expand">

            <ul class="navbar-nav">


                {% if request.user.is_authenticated %}

                    {% if request.user.is_admin %}
                        <a class="nav-link active align-items-center" href="{% url 'admin:login' %}">Admin</a>
                    {% endif %}
                    <a class="nav-link " href="{% url 'user:logout' %}">Çıkış</a>

                {% else %}
                    <a class="nav-link " href="{% url 'user:login' %}">Giriş</a>
                {% endif %}
            </ul>

        </div>
    </div>

</nav>