{#           col-md-3 masaüstü, col-sm-6 tabletler col-xs-6 telefon ekranları içindir#}

{% extends 'base.html' %}


{% block title %}Anasayfa-{{ block.super }}{% endblock %}

{% block body %}
    <div class="container">
        {% if not request.user.is_authenticated %}
            <meta http-equiv="REFRESH" content="0;url=/login/">
        {% else %}
            {% if  request.user.is_ogretmen_mi %}

                <meta http-equiv="REFRESH" content="0;url=/dersogrenci/siniflar">
            {% endif %}
        {% endif %}
        <div style="text-align: center;">

            <h3>Hoşgeldiniz {{ request.user.username }}</h3>
        </div>


    </div>


{% endblock %}}