{% extends 'base.html' %}
{% block body %}
    <div class="container col-md-8">
        <div class="table-responsive ">
            <table class="table" style="align-items: center; text-align: center;">
                <thead class="thead-dark">
                <tr>
                    <th>İsim</th>
                    <th>Tc</th>
                    <th>AOL</th>
                    <th>Tel</th>
                    <th>Veli</th>
                    <th>Veli Tel</th>
                </tr>
                </thead>
                <tbody>

                {% for  ogrenci in ogrenciler %}
                    <tr>
                        <td><a class="" href="{{ ogrenci.get_update_url }}">{{ ogrenci.ad_soyad }}</a>
                        </td>
                        <td>{{ ogrenci.tc }}   </td>
                        <td>{{ ogrenci.aol_no }}  </td>
                        <td>{{ ogrenci.tel }} </td>
                        <td>{{ ogrenci.veli_ad }} </td>
                        <td>{{ ogrenci.veli_tel }} </td>


                    </tr>

                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
{% endblock %}